/* Start Body */
body{
	max-width: 70rem;
	text-align: left;
	background-color: darkgrey;
	margin: auto;
	font-size: 1.4rem;
}

.bodyContainer{
	background-color: white;
  box-shadow: 0 6px 8px rgba(0,0,0,0.20);
}

.content {
	margin: 10px 18px 0px 18px;
}

h1 {
	font-weight: 800;
	font-size: 3.2rem;
	color: black;
	margin: 16px 8px 16px 8px;
}

h2 {
	font-weight: 80;
	font-size:2.6rem;
	color: black;
	margin: 16px 16px 16px 16px;
}
/* End Body */

/* Start breadNav */
.breadNav{
	padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  background-color: #201533;
  color: white;
}

.breadCrumbs li a{
	color: white;
	text-decoration: none;
}

.breadNav li a:hover{
	text-decoration: underline;
}

.breadCrumbs{
	list-style-type: none;
}

/* End breadNav */


@media (min-width: 820px) {
}
