/* Start Body */
body{
	max-width: 70rem;
	text-align: left;
	background-color: darkgrey;
	margin: auto;
	font-size: 1.4rem;
}

.bodyContainer{
	background-color: white;
  height: auto;
	padding-bottom: 700px;
  box-shadow: 0 6px 8px rgba(0,0,0,0.20);
  position: relative;
}

.content {
	margin: 10px 18px 0px 18px;
}

h1 {
	font-weight: 800;
	font-size: 2.2rem;
	color: black;
	margin: 16px 8px 16px 8px;
	float: left;
}

h2 {
	font-weight: 80;
	font-size: 1.9rem;
	color: black;
	margin: 16px 8px 16px 8px;
	float: left;
}

h4 {
	font-weight: normal;
	text-align: center;
}
/* End Body */

/* Start Title */
.title{
	padding-top: 1rem;
  padding-bottom: 1rem;
	padding-left: 1rem;
  background-color: #201533;
  color: white;
	font-size: 35px;
}

/* End Title */

/* Start breadNav */
.breadNav{
	padding-top: 1rem;
  padding-bottom: 1rem;
}

.breadCrumbs li a{
	color: black;
	text-decoration: none;
}

.breadNav li a:hover{
	text-decoration: underline;
}

.breadCrumbs{
	list-style-type: none;
}

/* End breadNav */

/* Start Buttons */
.forward-button{
	color: white;
  padding: 32px 64px;
  background-color: #201533;
	margin: 16px 8px 16px 8px;
  position: absolute;
  bottom: -50px;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.backwards-button{
  color: white;
  padding: 32px 64px;
  background-color: #201533;
	margin: 16px 8px 16px 8px;
  position: absolute;
  bottom: -50px;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.confirm-button{
  color: white;
  padding: 32px 64px;
  background-color: #201533;
	margin: 16px 8px 16px 8px;
  position: absolute;
	bottom: 150px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.location-button{
  color: white;
  padding: 32px 64px;
  background-color: #201533;
	margin: 16px 8px 16px 8px;
  position: absolute;
	bottom: 300px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.darkMode-button{
  color: white;
  padding: 22px 44px;
  background-color: #383838;
	margin: 16px 8px 16px 8px;
  position: relative;
	right: -80%;
	top: 20px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	float: left;
}
/* End Buttons */

/* Start Selection */
.choiceSection{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	float: left;
}

.cardSelection{
	display: block;
	border-radius: 15px;
	margin: 8px;
}

.cardContainer{
  width: 180px;
	display: block;
	border-radius: 16px;
	margin: 20px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  float: left;
  padding-right: 10px;
}

.cardImage{
  width: 100%;
  height: 120px;
}

/* End Selection */

/* Start Transition */
.transition1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darkgrey;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-out;
  z-index: 101;
}

.transition1.active {
  opacity: 1;
  pointer-events: all;
}

/* End Transition */

/* Start Dark Mode */
.dark-mode {
	background-color: black;
	color: white;
  height: auto;
	padding-bottom: 700px;
  box-shadow: 0 6px 8px rgba(0,0,0,0.20);
  position: relative;
}

.light-mode {
	background-color: white;
	color: black;
	height: auto;
	padding-bottom: 700px;
	box-shadow: 0 6px 8px rgba(0,0,0,0.20);
	position: relative;
}

.dark-mode h1, .dark-mode h2, .dark-mode .breadCrumbs li a{
  color: white;
}
/* End Dark Mode */

@media (max-width: 800px) {
	.cardContainer{
	  width: 90px;
		display: block;
		border-radius: 8px;
		margin: 10px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	  float: left;
	  padding-right: 5px;
		font-size: 15px;
		font-weight:500;
		}

		.cardImage{
		  width: 100%;
		  height: 100px;
			}
	}
