/* Start Body */
* {
	box-sizing: border-box;
}

body{
	max-width: 70rem;
	text-align: left;
	background-color: darkgrey;
	margin: auto;
	font-size: 1.4rem;
}

.bodyContainer{
	background-color: white;
  box-shadow: 0 6px 8px rgba(0,0,0,0.20);
}

.content {
	margin: 10px 18px 0px 18px;
}

/* End Body */

/* Start breadNav */
.breadnav{
	padding-bottom: .75rem;
}

.breadcrumbs li a{
	color: black;
	text-decoration: none;
}

.breadnav li a:hover{
	text-decoration: underline;
}

.breadcrumbs{
	list-style-type: none;
}
/* End breadNav */
